absl-py
aiofiles
aiohttp
aiosignal
altair
annotated-types
anyio
argon2-cffi
argon2-cffi-bindings
arrow
astor
asttokens
astunparse
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
click
cmake
colorama
comm
comtypes
contourpy
cycler
dataclasses-json
datasets
debugpy
decorator
defusedxml
dill
distro
dlib
duckdb
et-xmlfile
executing
face-recognition
face_recognition_models
faiss-cpu
Faker
fastapi
fastjsonschema
ffmpy
filelock
Flask
flatbuffers
fonttools
fqdn
frozenlist
fsspec
gast
gitdb
GitPython
google-api-core
google-auth
google-cloud-speech
google-pasta
googleapis-common-protos
googletrans
grad-cam
gradio
gradio_client
greenlet
grpcio
grpcio-status
gTTS
h11
h2
h5py
hpack
hstspreload
httpcore
httpx
huggingface-hub
hyperframe
idna
importlib_resources
imutils
intel-openmp
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jax
jaxlib
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
kiwisolver
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
libclang
libcst
llvmlite
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mediapipe
mistune
mkl
ml_dtypes
more-itertools
MouseInfo
mpmath
multidict
multiprocess
mypy-extensions
namex
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook_shim
npm
numba
numpy
openai
openai-whisper
opencv-contrib-python
opencv-python
openpyxl
opt-einsum
optional-django
optree
orjson
overrides
packaging
pandas
pandasai
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt-toolkit
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyarrow-hotfix
pyasn1
pyasn1_modules
PyAudio
PyAutoGUI
pycparser
pydantic
pydantic_core
pydeck
pydub
pygame
PyGetWindow
Pygments
PyMsgBox
pyparsing
pypdf
pyperclip
pypiwin32
PyRect
PyScreeze
python-dateutil
python-dotenv
python-json-logger
python-multipart
pyttsx3
pytweening
pytz
PyYAML
pyzmq
referencing
regex
requests
rfc3339-validator
rfc3986
rfc3986-validator
rich
rpds-py
rsa
ruff
safetensors
scikit-learn
scipy
seaborn
semantic-version
Send2Trash
sentence-transformers
sentencepiece
setuptools
shellingham
six
smmap
sniffio
sounddevice
soupsieve
SpeechRecognition
SQLAlchemy
srt
stack-data
starlette
streamlit
sympy
tabulate
tbb
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
terminado
textblob
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomlkit
toolz
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
ttach
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
